header { 
        background-color: rgb(5, 5, 59);
        color: antiquewhite;
        text-align: center;

}


main{ 

    background-color: lightgray;
    padding: 1em;
    text-align: left;
}

body {

    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0px;
}



